@font-face {
    font-family: Intro-Black;
    src: url("../font/intro_black.ttf")format("truetype"); 
}
@font-face {
    font-family: Intro-Bold;
    src: url("../font/intro_bold.ttf")format("truetype"); 
}
@font-face {
    font-family: Intro-Regular;
    src: url("../font/intro_regular.ttf")format("truetype"); 
}
html{
    background: #F7F8FC;
}
header{
    background-color:#597E9D;
}
.header__wrapper{
    display: flex;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
}
.header__logo{
    margin:auto
}
.header__menu{
    margin: auto;
}
.header__menu_list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    white-space: nowrap;
}
.header__menu_link{
    font-family: "Intro-Black";
    font-weight: 900;
    font-size: 16px;
    line-height: 16px;  
    font-style: normal;
    color:#FFFFFF;
}
.header__icons{
    display: flex;
    margin: auto;
}
.header__icons_link{
    padding-right: 33px;
}
.popover__content{
    display: none;
}
.popover__content_show {
    display:flex;
    background-color:#F7F8FC ;
    flex-direction: column;
    text-align: center;
    border: 2px solid #484C51;
}
.popover__content_show a{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #484c51cc;
    border: 1px solid #484C51;
}

main{
    display: flex;
    flex-direction: column;
}
.about-us-wrapper{
    max-width: 1200px;
    margin: 50px auto 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.adout-us__header{
    
    font-family: 'Intro-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 46px;
    color: #484C51;
}
.about-us__text{
    margin-top: 50px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #484C51;
    text-align: left;
    max-width: 930px;
}
.content{
    margin-bottom: 50px;
    background: #597E9D;
    border-radius: 10px;
}
.content-wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.content__header{
    margin: 50px auto;
    text-align: center;
    width: 61%;
}
.content__header span{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #EBEBEB;
}
.content__conteiner_cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto 100px auto;
}
.content__card{
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 320px;
    margin: 25px auto;
    background: #FFFFFF;
    box-shadow: 10px 10px 50px rgba(229, 233, 246, 0.1);
    border-radius: 10px;
}
.content__card_image{
    width: 90px;
    height: 90px;
    margin-left: 30px;
    margin-top: 50px;
    border-radius: 10px;
}
.content__card_head{
    font-family: 'Intro-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #484C51; 
    margin-top: 20px;
    margin-left: 20px;
}
.content__card_text{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #484c51cc;
    width:260px;
    height:66px;
    margin-top: 20px;
    margin-left: 20px;
}
.info-wrapper{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    align-items: center;
}

.info__slash{
    width: 1px;
    height: 112px;
    background: #E7EAEB;
}
.info__block{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info__header{
    font-family: 'Intro-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #484C51;
}
.info__text{
    text-align: center;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #484C51;
}
.help{
    background: #e7edecbd; 
}
.help-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.help__header{
    font-family: 'Intro-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #484C51;
    margin-bottom: 40px;
    margin-top: 66px;
}
.help__text{
    width: 61%;
    height: 44px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #484C51;
    margin-bottom: 100px;
}
.help__form{
    display: flex;
    flex-direction: column;
    margin-bottom: 78px;
}
.help__form_data{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #484C51;
    border-bottom: 1px solid #484C51;
    padding-bottom: 14px;
}
.help__form_name .help__form_data{
    padding-bottom: 14px; 
}
.help__form_data:focus{
    border-bottom: 1px solid #2183AA;
    caret-color: #2183AA;
}
.help__form_data:focus+label{
    color: #2183AA;
}
.help__form label{
    margin-bottom: 15px;
}
.help__form_name{
    font-family: 'Intro-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #484C51;
    display: flex;
    flex-direction: column-reverse;  
}
.help__form_bottom-input{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.help__form_tel{
    font-family: 'Intro-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #484C51;
    display: flex;
    flex-direction: column-reverse;
    margin-right: 108px;
    width: 50%;
}
.help__form_email{
    font-family: 'Intro-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #484C51;
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
}
.help__form_bottom{
    margin-top: 113px;
    display: flex;
}
.help__form_agree{
    width: 52%;
    font-family: 'Intro-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #484C51;
    text-align: left;
}
.help__form_agree span{
    margin-left: 10px;
}
.help__form_agree a{
    color: #2183AA;
    margin-left: 25px;
}
.help__form_button{
    margin-left: auto;
}
.help__form_button input{
    background: #2183AA;
    box-shadow: 0px 2px 4px #0fda894d;
    border-radius: 10px;
    height: 60px;
    width: 277px;
    font-family: 'Intro-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    color: #FFFFFF;
    margin: auto;
}
footer{
  background-color:#597E9D;  
}
.footer-wrapper{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;    
    align-items: center;
    flex-direction: column
}
.footer__logo{
    margin: 63px auto 53px auto;
}
.footer__menu ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 75px;
}
.footer__menu_link{
    font-family: 'Intro-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color:#FFFFFF;
} 
.footer__social{
   margin-top: 76px;
   margin-bottom: 56px;
}
.footer__social a{
    padding-right: 23px;
}
.footer__copyright{
    margin-bottom: 28px;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
 @media screen and (max-width:1200px) {
    .header__wrapper{
        max-width: 970px;
    }
    .help-wrapper{
        max-width: 970px;
    }
 }
 @media screen and (max-width: 992px) {
    .header__wrapper{
        max-width: 750px;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .help-wrapper{
        max-width: 750px;
    }
    .content__conteiner_cards{
        flex-wrap: wrap;
        margin: auto;
    }
 }
 @media screen and (max-width:767px) {
    .header__wrapper{
        max-width: none;
    }
    .header__menu_list{
        flex-wrap: wrap;
        align-items: center;
    }
    .help-wrapper{
        max-width: none;
    }
    .help__header{
        text-align: center;
    }
    .help__form{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .help__form_bottom{
        flex-direction: column;
    }
    .help__form_bottom-input{
        flex-direction: column;
        margin: 0 auto;
    }
    .help__form_name{
        width: auto;
    }
    .help__form_tel{
        width: auto;
        margin: 10px auto;
    }
    .help__form_email{
        width: auto;
    }
    .help__form_agree{
       margin: auto;
    }
    .help__form_button{
        margin: 25px auto;
    }
    .footer__menu ul{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

 }